* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    justify-content: center;
}

.logo img{
    height: 150px;
}

.home-icon {
    font-size: 54px;
    color: #000000;
    text-align: center;
    }

.home-icon p{
    font-size: 18px;
    text-align: center;
}

a{
    text-decoration: none;
  }



  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #2c3e50;
    color: #ecf0f1;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    background: #34495e;
    color: #ecf0f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.console-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.console-input input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #34495e;
    background: #ecf0f1;
    color: #2c3e50;
}

.console-input button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: #1abc9c;
    color: #ecf0f1;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: #ecf0f1;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat {
    width: 45%;
}

.stat h2 {
    margin-bottom: 10px;
}

canvas {
    width: 100%;
    height: 200px;
}