* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
  height: 150px;
  margin-top: 165px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-icon {
    font-size: 54px;
    color: #ffffff;
    text-align: center;
}

  .home-icon p{
    font-size: 18px;
    text-align: center;
  }

  a{
    text-decoration: none;
  }

  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .upload-section, .folder-section, .file-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }

  label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}

#folder-select {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

  
  input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .folder-actions form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.folder-actions input[type="text"], 
.file-section input[type="text"] {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.folder-actions button[type="submit"] {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.folder-actions button[type="submit"]:hover {
    background-color: #45a049;
}

.folders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.folder {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.folder i {
  margin-right: 10px;
  color: #ffc107;
}

.folder input[type="checkbox"] {
  margin-right: 10px;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.file {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
}

.file i {
  margin-right: 10px;
  color: #28a745;
}

.file input[type="checkbox"] {
  margin-right: 10px;
}


